.ask {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: -52px;
  margin-left: -52px;
  padding: 145px 52px;
  background: url(../img/ask.png);

  @media (max-width: $tablet-width) {
    text-align: center;
    margin-right: 0;
    margin-left: 0;
    padding: 140px 30px;
  }
}

.ask__heading {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 52px;
  line-height: 66px;
  text-transform: uppercase;

  @media (max-width: $tablet-width) {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 28px;
  }
}

.ask__about {
  margin-bottom: 80px;
  font-size: 26px;
  line-height: 35px;

  @media (max-width: $tablet-width) {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 24px;
  }
}

.ask__answer-wraper {
  width: 60%;
  border: 80px solid $basic-black;
  border-top: none;
  border-radius: 30px;

  @media (max-width: $tablet-width) {
    width: 100%;
    border: 20px solid $basic-black;
  }
}

.ask__answer-block {
  display: none;
  font-size: 18px;
  line-height: 28px;
  color: $nav-color;
  background: $basic-black;

  &--active {
    display: block;
    font-size: 16px;
    line-height: 24px;
  }
}

.ask__answer-row {
  display: flex;
  align-items: center;

  &:first-child {
    padding-top: 0;
  }

  &--light-bcg {
    margin-right: -80px;
    margin-left: -80px;
    padding: 0 80px;
    background: $answer-bcg;
  }

  @media (max-width: $tablet-width) {
    &--light-bcg {
      margin-right: -20px;
      margin-left: -20px;
      padding: 0 20px;
    }
  }
}

.ask__grapf {
  box-sizing: border-box;
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 57px;
  min-height: 57px;
  margin: 32px;
  margin-left: 0;
  color: $basic-black;

  &--red {
    background: $answer-red-bcg;
  }

  &--green {
    background: $answer-green-bcg;
  }

  & span {
    font-weight: 600;
    font-size: 36px;
    line-height: 57px;
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.ask__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-height: 100%;
  padding: 47px 0;
  border-left: 1px solid #2E2E2E;

  @media (max-width: $tablet-width) {
    border-left: none;
    padding: 15px 0;
  }
}

.ask__text {
  margin-left: 30px;

  @media (max-width: $tablet-width) {
    margin-left: 0;
    text-align: left;
  }
}

.ask__form {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding: 40px 60px;
  border-top: 80px solid $basic-black;
  background: transparent;

  @media (max-width: $tablet-width) {
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    border-top: none;
    border-radius: 30px;
  }

  & input {
    width: 100%;
    margin: 0;
    padding: 15px;
    background: $basic-white;
    border: 3px solid $basic-black;
    border-radius: 6px;
  }

  & button[type="submit"] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 60px;
    width: unset;
    background: none;

    & svg {
      fill: $nav-item-hover;
    }

    &:disabled {
      & svg {
        fill: lightgray;
      }
    }

    &:disabled:hover {
      opacity: unset;
    }

    @media (max-width: $tablet-width) {
      right: 20px;
    }
  }
}
