.main-nav {
  display: flex;
  align-items: center;

  @media (max-width: $tablet-width) {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    height: calc(100vh - 70px);
    width: 100%;
    padding-top: 50px;

    &--opened {
      background: $basic-black;
    }

    &--closed .main-nav__list {
      display: none;
    }
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__list {
  @media (max-width: $tablet-width) {
    display: block;
  }
}

.main-nav__list {
  display: flex;
  align-items: center;
  gap: 34px;

  @media (max-width: $tablet-width) {
    position: relative;
    flex-direction: column;
    align-items: start;
    gap: 0;
    height: 100%;
    margin-left: 60px;
    padding-right: 16px;
    padding-left: 16px;
  }
}

.main-nav__item {
  cursor: pointer;

  &:last-child {
    display: none;
  }

  & a {
    font-size: 16px;
    line-height: 27px;
    color: $basic-black;

    @media (max-width: $tablet-width) {
      font-weight: 700;
      font-size: 28px;
      line-height: 28px;
      color: $basic-white;
      text-transform: uppercase;
    }
  }

  @media (max-width: $tablet-width) {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 5px 25px 0 5px;
    margin-bottom: 6px;

    &:last-child {
      box-sizing: border-box;
      position: absolute;
      bottom: 0;
      left: -60px;
      flex-grow: 1;
      display: flex;
      align-items: center;
      height: 50px;
      min-width: 100vw;
      margin-bottom: 0;
      padding: 0;
      padding-left: 30px;
      justify-content: space-between;
      border-top: $regular-border;
      border-bottom: $regular-border;
    }

    &:hover {
      opacity: 1;
      background: $nav-item-hover;
      border-radius: 2px 6px 24px 2px;

      & a {
        color: $basic-black;
      }
    }
  }
}

.main-nav__toggle {
  box-sizing: border-box;
  z-index: 2;
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40px;
  height: 40px;
  border: none;
  border-left: $regular-border;
  background: none;
  cursor: pointer;

  @media (max-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// Бургер
.main-nav--closed .main-nav__toggle::before {
  content: url('../img/icons/hamburger.svg');
}

.main-nav--closed .main-nav__toggle {
  &:hover::before {
    opacity: 0.6;
  }

  &:active::before {
    opacity: 0.3;
  }
}

//Крестик
.main-nav--opened .main-nav__toggle {
  border-left: none;

  &::before {
    content: url('../img/icons/close.svg');
  }


  &:hover::before {
    opacity: 0.6;
  }

  &:active::before {
    opacity: 0.3;
  }
}

.main-nav__open-btn-text {
  font-family: "Segoe-UI", "Arial", sans-serif;
  color: $basic-black;

  @media (max-width: $tablet-width) {
    font-weight: 350;
    font-size: 14px;
    line-height: 120%;
  }
}

.main-nav__corp {
  font-size: 14px;
  line-height: 27px;
  color: $nav-color;
}
