.page-body {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  // max-width: 1440px;
  margin: 0px auto;
  font-family: "GraphikLCG", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  border: $regular-border;
  border-left: none;
  border-radius: 20px;

  @media (max-width: $tablet-width) {
    margin: 0;
    border-radius: unset;
    border: none;
  }
}

.page-body__left-frame {
  z-index: 1;
  min-width: 50px;
  min-height: 100%;
  border: $regular-border;
  border-top: none;
  border-radius: 20px 0 0 20px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.page-body__wrapper {
  flex-grow: 1;
}
