.page-header {
  display: flex;
  justify-content: space-between;
  margin: 0 -50px;
  padding: 10px 100px;
  border-bottom: 1px solid rgba(168, 168, 168, 0.4);

  @media (max-width: $tablet-width) {

  }
}

