.page-header {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: calc(100% + 102px);
  margin-left: -51px;
  margin-right: -51px;
  padding: 10px 130px 10px;
  border-bottom: $regular-border;

  & a {
    display: flex;
    align-items: center;
    z-index: 1;
  }

  @media (max-width: $tablet-width) {
    max-height: 40px;
    margin-right: 0;
    margin-left: 0;
    padding: 10px 30px;
  }
}

.page-header__piont {
  position: absolute;
  left: 23px;
  background: $basic-black;
  width: 8px;
  height: 8px;
  border-radius: 50%;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.page-header__logo__icon {
  @media (max-width: $tablet-width) {
    width: 139px;
    height: 22px;
  }
}
