.policy {
  h1,
  h2,
  p,
  li {
    padding: 10px;
    margin: 5px;
  }

  h1 {
    text-align: center;
  }

  ul {
    list-style: disc;
  }

  @media (max-width: $tablet-width) {
    ol {
      padding-left: 20px;
    }

    h1,
    h2,
    p,
    li {
      padding: 5px 0;
      margin: 5px 0;
    }

    .policy__main-anout {
      padding: 0 15px;
    }
  }
}
