.potential {
  display: flex;
  flex-direction: column;
}

.potential__heading-wrapper {
  display: flex;
  border-bottom: $regular-border;

  @media (max-width: $tablet-width) {
    flex-direction: column;
  }
}

.potential__heading {
  box-sizing: border-box;
  min-width: 65%;
  padding: 100px 80px;
  padding-right: 70px;
  font-weight: 700;
  font-size: 52px;
  line-height: 66px;
  text-transform: uppercase;
  border-right: $regular-border;

  @media (max-width: $tablet-width) {
    padding: 40px 30px;
    font-size: 24px;
    line-height: 28px;
    border-right: none;
  }
}

.potential__abuot {
  padding: 100px 60px;
  font-size: 20px;
  line-height: 30px;

  @media (max-width: $tablet-width) {
    padding: 40px 30px;
    padding-top: 0;
    font-size: 17px;
    line-height: 24px;
  }
}
