.potential {
  display: flex;
  flex-direction: column;
}

.potential__heading-wrapper {
  display: flex;
  border-bottom: $regular-border;

  @media (max-width: $tablet-width) {
    flex-direction: column;
  }
}

.potential__heading {
  box-sizing: border-box;
  min-width: 65%;
  padding: 100px 80px;
  padding-right: 70px;
  font-weight: 700;
  font-size: 52px;
  line-height: 66px;
  text-transform: uppercase;
  border-right: $regular-border;

  @media (max-width: $tablet-width) {
    padding: 40px 30px;
    font-size: 24px;
    line-height: 28px;
    border-right: none;
  }
}

.potential__abuot {
  padding: 100px 60px;
  font-size: 20px;
  line-height: 30px;

  @media (max-width: $tablet-width) {
    padding: 40px 30px;
    padding-top: 0;
    font-size: 17px;
    line-height: 24px;
  }
}

.potential__tabs {
  display: flex;

  @media (max-width: $tablet-width) {
    padding: 40px 30px;
    flex-direction: column;
  }
}

.potential__content {
  box-sizing: border-box;
  max-width: 35%;
  padding: 100px 60px;
  padding-left: 80px;
  font-size: 20px;
  line-height: 30px;
  border-right: $regular-border;

  @media (max-width: $tablet-width) {
    order: 2;
    max-width: unset;
    padding: 0;
    font-size: 17px;
    line-height: 24px;
    border-right: none;
  }
}

.potential__buttns-wrapper {
  display: flex;
  flex-direction: column;
  padding: 100px 60px;

  @media (max-width: $tablet-width) {
    padding: 0;
  }
}

.potential__subheading {
  margin-bottom: 60px;
  font-weight: 600;
  font-size: 29px;
  line-height: 40px;

  @media (max-width: $tablet-width) {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 24px;
  }
}

.potential__button-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  @media (max-width: $tablet-width) {
    gap: 11px;
    margin-bottom: 30px;
  }
}

.potential__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  padding: 14px 24px;
  font-family: "GraphikLCG", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  background: transparent;
  border: 2px solid $basic-black;
  border-radius: 50px;

  &--active {
    background: $basic-black;
    color: $basic-white;
  }

  @media (max-width: $tablet-width) {
    padding: 14px 18px;
    font-size: 14px;
    line-height: 18px;
  }
}
