.promo {
  position: relative;
  display: flex;
  border-bottom: $regular-border;

  // &:hover .equalizer,
  // &:hover .promo__about {
  //   animation: shake 0.5s;
  // }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    border-bottom: none;
  }
}

.promo__wrapper {
  display: flex;
  flex-direction: column;

  &--form-wrapper {
    flex-grow: 1;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 460px;
    padding: 80px;
    background: 50% no-repeat url(../img/form-wrapper-bcg.png);
    border-left: $regular-border;

    & * {
      scale: 1;
      transition: scale 700ms ease-in-out;
    }

    &:hover {
      * {
        scale: 1.1;
        transition: scale 700ms ease-in-out;
      }
    }
  }

  @media (max-width: $tablet-width) {
    &--form-wrapper {
      min-width: unset;
      padding: 30px 0;
      padding-bottom: 0;
      background: 50% no-repeat url(../img/form-wrapper-bcg-mob.png);
      border-left: none;
    }
  }
}

.promo__heading {
  display: inline-block;
  padding: 40px;
  padding-right: 100px;
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
  text-transform: uppercase;
  border-bottom: $regular-border;

  & span {
    text-transform: none;
  }

  @media (max-width: $tablet-width) {
    display: inline-block;
    margin-bottom: 40px;
    padding: 0;
    padding: 30px 20px;
    font-size: 24px;
    line-height: 28px;
  }
}

.promo__users-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 40px;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    padding: 30px;
    padding-top: 0;

    &--desktop-only {
      display: none;
    }
  }
}

.promo__users {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 35%;

  @media (max-width: $tablet-width) {
    order: 2;
    flex-direction: row;
    align-items: center;
    max-width: unset;
  }
}

.promo__img {
  width: 65%;
  height: auto;
  margin-top: auto;
  margin-bottom: 20px;

  @media (max-width: $tablet-width) {
    order: 2;
    width: 110px;
    height: 84px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.promo__users-number {
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;

  @media (max-width: $tablet-width) {
    font-size: 14px;
    line-height: 36px;
  }
}

.promo__about {
  margin-top: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

  @media (max-width: $tablet-width) {
    margin-top: 8px;
    font-size: 13px;
    line-height: 18px;
  }
}

.promo__video-wrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
  background: $basic-black;
  border-radius: 16px;

  @media (max-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.promo__video {
  width: 100%;

  & iframe {
    border-radius: 16px;
  }
}

#users-number1,
#users-number2 {
  display: inline-block;
  min-width: 95px;

  @media (max-width: $tablet-width) {
    min-width: 75px;
  }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
