//Colors
$basic-white: #ffffff;
$basic-black: #000000;
$gold: #b79069;
$bcg-black: #1e1e1e;
$terms-color: #5b5b5b;
$referal: #dadada;
$btn-color: #f5ee36;

// Viewprts
$tablet-width: 768px;

// BCG
$button-hover: #282828;
$nav-item-hover: #28a47f;

// Colors
$nav-color: #c9cbc8;

// Borders
$regular-border: 1px solid rgba(168, 168, 168, 0.4);
