//Colors
$basic-white: #ffffff;
$basic-black: #000000;
$gold: #b79069;
$bcg-black: #1e1e1e;
$terms-color: #5b5b5b;
$referal: #dadada;
$btn-color: #f5ee36;

// Viewprts
$tablet-width: 768px;

// BCG
$button-hover: #282828;
$nav-item-hover: #28a47f;
$data-table-bcg: #191919;
$answer-bcg: #212121;
$answer-red-bcg: #be3715;
$answer-green-bcg: #18a285;

// Colors
$nav-color: #c9cbc8;
$data-table-color: #666666;

//Google-colors
$blue: #4086f4;
$red: #eb4132;
$yellow: #fbbd00;
$green: #33aa52;
$grey: #2e2e2e;

// Borders
$regular-border: 1px solid rgba(168, 168, 168, 0.4);
$google-border: 1px solid $grey;
